<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
  <body>
    <h1>An Error Has Occurred</h1>
    <p><%=status%>: <%=message%></p>
    <a href="/">Return Home</a>
  </body>
</html>
