<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
  <body>
    <h1>Welcome</h1>
    <ul>
      <li><a href="/sign-up">Sign-Up</a></li>
      <%if (locals.user){%>
        <li><a href="log-out">Log--Out</a></li>
      <%} else{%>
      <li><a href="/sign-in">Sign-In</a></li>
      <%}%>
    </ul>
  </body>
</html>
